<p>
  <b>Name:</b>
  <%=h @cluster.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @cluster.url %>
</p>

<p>
  <b>Note:</b>
  <%=h @cluster.note %>
</p>


<%= link_to 'Edit', edit_cluster_path(@cluster) %> |
<%= link_to 'Back', clusters_path %>