<%= render :partial => "shared/menu_bar"%>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Editing Vocab type: <span class="entity-title"><%= @vocabtype.name %></span></a></li>
	</ul>
	<div id="tabs-1">
		<%= render :partial => "form" %>
	</div>
</div>

<%= link_to 'Show', @vocabtype %> |
<%= link_to 'Back', vocabtypes_path %>