<%= render :partial => "shared/menu_bar"%>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Showing vocab type: <span class="entity-title"><%= @vocabtype.name %></span></a></li>
	</ul>
	<div id="tabs-1">
		<p>
		  <b>Name:</b>
		  <%=h @vocabtype.name %>
		</p>

		<p>
		  <b>Url:</b>
		  <%=h @vocabtype.url %>
		</p>

		<p>
		  <b>Note:</b>
		  <%=h @vocabtype.note %>
		</p>
	</div>
</div>

<%= link_to 'Edit', edit_vocabtype_path(@vocabtype) %> |
<%= link_to 'Back', vocabtypes_path %>