<%= render :partial => "shared/menu_bar"%>

<h2>Showing vocabulary: <span class="entity-title"><%= @vocab.name %></span></h2>


	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">General</a></li>
		</ul>
		<div id="tabs-1">
			<table class="panel">
				<tr class="panel">
					<td class="panel-field-name">Name:</td>
					<td property="rdfs:label" class="panel-field-value"><%=@vocab.name %></td>
				</tr>
				<tr class="panel">
					<td class="panel-field-name">URL:</td>
					<td class="panel-field-value"><%=@vocab.url %></td>
				</tr>
				<tr class="panel">
					<td class="panel-field-name">Note:</td>
					<td class="panel-field-value"><%=@vocab.note %></td>
				</tr>
			</table>
		</div>
	</div>



<%= link_to 'Edit', edit_vocab_path(@vocab) %> |
<%= link_to 'Back', vocabs_path %>