<%= render :partial => "shared/menu_bar"%>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1"><%= @table_title %></a></li>
	</ul>
	<div id="tabs-1">
		<table class="panel-grid">
			<thead>
				<tr>
					<th>Name</th>
					<th>Cluster</th>
					<th class="{sorter: false}">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @topics.each do |topic| %>
				  <tr>
				    <td><%= link_to topic.name, topic %></td>
				    <td><%= link_to topic.topiccluster.name, topic.topiccluster %></td>
				    <td class="panel-grid-operations"><%= link_to 'Edit', edit_topic_path(topic) %> | <%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
				  </tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


<br />

<%= link_to 'New topic', new_topic_path %>