<%= render :partial => "shared/menu_bar"%>

<h2>Showing Topic: <span class="entity-title"><%= @topic.name %></span></h2>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">General</a></li>
	</ul>
	<div id="tabs-1">
		<p>
		  <b>Name:</b>
		  <%=h @topic.name %>
		</p>

		<p>
		  <b>Url:</b>
		  <%=h @topic.url %>
		</p>

		<p>
		  <b>Note:</b>
		  <%=h @topic.note %>
		</p>

		<p>
		  <b>Cluster:</b>
		  <%=h @topic.topiccluster.name %>
		</p>
	</div>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>