<%= render :partial => "shared/menu_bar"%>
<h2>Showing Use case: <span class="entity-title"><%= @usecase.name %></span></h2>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">General</a></li>
	</ul>
	<div id="tabs-1">
		<table class="panel">
			<tr class="panel">
				<td class="panel-field-name">Name:</td>
				<td class="panel-field-value"><%=@usecase.name %></td>
			</tr>
			<tr class="panel">
				<td class="panel-field-name">URL:</td>
				<td class="panel-field-value"><%=@usecase.url %></td>
			</tr>
			<tr class="panel">
				<td class="panel-field-name">Goal:</td>
				<td class="panel-field-value"><%=@usecase.goal %></td>
			</tr>
			<tr class="panel">
				<td class="panel-field-name">Vocabs:</td>
				<td class="panel-field-value">
					<% @usecase.vocabs.each do |vocab| %>
						<%= link_to vocab.name,vocab %><br />
					<% end %>
					
				</td>
			</tr>
			<tr class="panel">
				<td class="panel-field-name">Topics:</td>
				<td class="panel-field-value">
					<% @usecase.topics.each do |topic| %>
						<%= link_to topic.name,topic %><br />
					<% end %>
					
				</td>
			</tr>
		</table>
	</div>		
</div>
<div class="page-navigation">
	<%= link_to 'Edit', edit_usecase_path(@usecase),:class => "action-link" %> |
	<%= link_to 'Back', usecases_path %>
</div>